.A4portrait {
    width: 210mm;
    height: 297mm;
}

.A4landscape {
    width: 297mm;
    height: 210mm;
}

.A5portrait {
    width: 148mm;
    height: 210mm;
}

.A5landscape {
    width: 210mm;
    height: 148mm;
}

.paper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    margin-bottom: 20pt;
    line-height: 1.2em;
    padding: 20pt;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}