.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
}

/*CreateDocument*/
.pageDocument {
  margin-left: auto;
  margin-right: auto;
  width: 148mm;
  height: 210mm;
  line-height: 1.2em;
  padding: 20pt;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

/*StartPage*/
.tableDocument {
  margin-left: auto;
  margin-right: auto;
  width: 297mm;
  height: 210mm;
  line-height: 1.2em;
  padding: 20pt;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  overflow-y: auto;
}
.header{
  border-bottom: 1px double black;
  background-color: #bbced6;
}

/*CreatePage*/
.top {
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
}

.bottom {
  height: 25%;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: auto;
  position: fixed;
  border-top: 4mm ridge #bbced6;
}

.panel {
  width: 100%;
  border: double;
}

.panelBottom {
  height: 40px;
  width: 100%;
  border: double;
}

.linePanel {
  border-top: 0.7px solid;
  padding: 8px;
}

.lineIntoPanel {
  border-left: 0.7px solid;
  border-right: 0.7px solid;
}

.hover:hover {
  text-decoration: underline;
}